<wicket:extend>

	<h2>Admin Console</h2>
	
	<h3>Enter a question:</h3>
	<form wicket:id="question_form">
	
		<input wicket:id="survey_question" />
		
		<p><a href="#" wicket:id="submit_question">Submit question!</a></p>
		
	</form>
	
	<h3>Answers to the previous question:</h3>
	<table wicket:id="theContainer">
        <tr><th>The question</th><th>Average rating of the question:</th></tr>
        <tr wicket:id="question_list">
            <td><span wicket:id="question">question</span></td>
            <td><span wicket:id="average">average rating</span></td>
        </tr>
     </table>
	
	
		
</wicket:extend>