<wicket:extend>

	<h2>Client</h2>
	
	<h3>The question is:</h3>
	<p>
		<span wicket:id="question">The question to be displayed</span>
	</p>
	<div wicket:id="wrapper">
	<h3>Your evaluation:</h3>
		<p>
			:-(
			<a href="#" wicket:id="survey_link_1">1</a>
			<a href="#" wicket:id="survey_link_2">2</a>
			<a href="#" wicket:id="survey_link_3">3</a>
			<a href="#" wicket:id="survey_link_4">4</a>
			<a href="#" wicket:id="survey_link_5">5</a>
			:-)
		</p>
	</div>

	
</wicket:extend>